
/*---Style Comment*/
.post__infos .comment{
    display: flex;
    align-items: center;
}

.post__infos .comment textarea {
    display: block;
    resize: none;
    font-size: 14px;
    min-height: 21px;
    width: 100%;
    height: 21px;
    max-height: 80px;
    outline: none;
    margin: 5px 15px;
    background-color: var(--primary);
    color: var(--text-dark);
  }

  .post__infos .comment .btn_comment{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    color: var(--link);
  }
/*---End Style Comment*/
