<!-- Popup Post Status -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="container">
    <div class="wrapper">
      <section class="post">
        <header>
          Create Post
          <svg class="close" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </header>
        <form class="form_post" action="#">
          <div class="content_post">
            <img src="./assets/default-user.png" alt="">
            <p>Duc Anh</p>
          </div>
          <div style="overflow: auto; height: 300px;">
            <textarea (keyup)="reSizeStatus($event)" spellcheck="false" class="textarea_post"
              placeholder="What's on your mind?" required></textarea>
            <!---Upload Image-->
            <div class="container_up_image">
              <div class="wrapper_up_image">
                <div (click)="defaultBtnActive()" class="image_upload">
                  <img class="image_preview" src="" alt="">
                </div>
                <div class="content_up_image">
                  <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                    </svg>
                  </div>
                  <div class="text">
                    Upload Picture!
                  </div>
                </div>
                <div id="cancel_up_image">
                  <svg class="close" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </div>
                <div class="file-name">
                  File name here
                </div>
              </div>
              <input class="img-upload" id="default-btn" type="file" hidden required>
            </div>
            <!---End script preview image upload-->
          </div>

          <div class="options">
            <p>Add To Your Post</p>
            <ul class="list">
              <li (click)="defaultBtnActive()"><img
                  src="https://firebasestorage.googleapis.com/v0/b/ecmascript-7a6e3.appspot.com/o/images%2FFacebook-Post-master%2Fgallery.svg?alt=media&token=fa652cb9-15ec-4165-b039-0617461e3369"
                  alt=""></li>
              <li>
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/ecmascript-7a6e3.appspot.com/o/images%2FFacebook-Post-master%2Fsmile.svg?alt=media&token=272f8ecb-a31c-4db7-a954-3aaca34281c7"
                  alt="">
              </li>
              <li><img
                  src="https://firebasestorage.googleapis.com/v0/b/ecmascript-7a6e3.appspot.com/o/images%2FFacebook-Post-master%2Ftag.svg?alt=media&token=e4bda083-a78b-4aa2-b373-425a05bd01e8"
                  alt=""></li>
            </ul>
          </div>
          <button class="button-post">Post</button>
        </form>
      </section>
    </div>
  </div>
</div>
<!-- End Popup Post Status -->
